.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.row::before,
.row::after {
  content: "";
  display: table;
}

.row::after {
  clear: both;
}

.col-3,
.col-4,
.col-6,
.col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/*Mobile Defaults*/
.col-3,
.col-4,
.col-6,
.col-12 {
  width: 100%;
}

.col-8 {
  width: 80%;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
  margin: 0 auto;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}
